@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/* Variables */
:root {
    --primary: #029AE0;
    --primary-100: #029AE0;
    --primary-200: #415A66;
    --primary-300: #017CB3;
    --primary-400: #50B6E6;
    --primary-grey: #969696;
    --background: #202124;
    --background-100: #26282b;
    --background-200: #3b3c3f;
    --text-sm: 12px;
    --text-base: 14px;
    --text-lg: 16px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
}

/* General */
* {
    font-family: 'Kode Mono', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    background-color: var(--background);
    color: #fff;
    margin: 0;
    font-size: var(--text-base);
}

button {
    padding: 8px 16px;
    cursor: pointer;
    height: 40px;
    font-size: var(--text-sm);
    color: white;
    border-radius: 100px;
    border: none;
    background-color: var(--primary);
}

button:hover {
    background-color: var(--primary-400);
}

h2 { font-size: var(--text-3xl);}
h3 { font-size: var(--text-2xl);}
h4 { font-size: var(--text-xl);}
h5 { font-size: var(--text-lg);}

/* Sidebar */
#sidebar {
    background-color: var(--background-100);
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#company-logo {
    height: 65px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#nav-buttons li {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: var(--text-base);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-buttons li:hover {
    background-color: var(--primary);
}

#nav-buttons li span {
    margin-right: 10px;
}


/* Content */

#project-list {
    display: grid;
    /* margin-top: 16px; */
}

#content {
    padding: 16px;
}

main header,
main header button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cards */

.project-card {
    background: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;
}

.project-card:hover {
    outline: 2px solid var(--primary);
}

.card-header {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #3b3c3f;
    height: 60px;
    padding: 16px 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
    padding: 30px 20px;
}

.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

div.card-property>p:first-child {
    color: var(--primary-grey);
}
.card-intial {
    background-color: #ca8134;
    padding: 8px;
    border-radius: 8px;
    aspect-ratio: 1;
}