/* #region FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
/* #endregion */

/* document.getElementById("new-project-modal").showModal() */
/* document.getElementById("new-user-modal").showModal() */
/* document.getElementById("error-modal").showModal() */

/* #region Variables */
:root {
  --color-primary: #029ae0;
  --color-primary-100: #029ae0;
  --color-primary-200: #415a66;
  --color-primary-300: #017cb3;
  --color-primary-400: #50b6e6;
  --color-primary-grey: #969696;
  --color-primary-red: rgb(239 68 68);
  --color-primary-green: rgb(34 197 94);
  --color-cancelled: #ff0000;
  --color-active: #969696;
  --color-finished: #00ff00;
  --color-background: #202124;
  --color-background-100: #26282b;
  --color-background-150: #303030;
  --color-background-200: #3b3c3f;
  --text-sm: 10px;
  --text-base: 12px;
  --text-lg: 14px;
  --text-xl: 18px;
  --text-2xl: 22px;
  --text-3xl: 28px;
}

@keyframes fadeBackgroundColor {
  from {
    background-color: var(--color-background-100);
  }
  to {
    background-color: var(--color-background-200);
  }
}

/* #endregion */

/* #region General */
/* font-family: 'Kode Mono', sans-serif; */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar content";
  height: 100vh;
  background-color: var(--color-background);
  color: white;
  font-size: var(--text-base);
}

button {
  padding: 8px 16px;
  cursor: pointer;
  height: 32px;
  font-size: var(--text-base);
  color: white;
  border-radius: 16px;
  border: none;
  background-color: var(--color-primary);
  transition-property: outline;
  transition-duration: 0.5s;
  transition-delay: -1s;
}

button:hover {
  background-color: var(--color-primary-400);
  outline: 2px solid var(--color-primary);
  box-shadow: inset 0 0 10px #a4c9db, 0 0 10px #fff;
}

.btn-secondary {
  background-color: transparent;
  outline: 2px solid #969696;
  width: 120px;
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  outline: none;
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-lg);
  margin-bottom: 4px;
}
/* #endregion */

/* #region Sidebar */
#sidebar {
  background-color: var(--color-background-100);
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
  height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons li {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  font-size: var(--text-base);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-primary);
}

#nav-buttons li:hover {
  outline: 2px solid var(--color-primary);
  box-shadow: inset 0 0 10px #a4c9db, 0 0 10px #fff;
}

#nav-buttons li span {
  margin-right: 10px;
}

#import-project-btn,
#export-project-btn,
button,
.todo-item,
#nav-buttons li {
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
#import-project-btn,
#export-project-btn {
  padding: 8px;
  height: 32px;
  border-radius: 16px;
}

#import-project-btn:hover,
.todo-item:hover,
#export-project-btn:hover {
  box-shadow: inset 0 0 10px #a4c9db, 0 0 10px #fff;
}

/* #endregion */

/* #region Content */

#projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px 16px;
  margin-top: 16px;
}

#content {
  padding: 16px;
}

main header,
main header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #endregion */

/* #region Page */
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* #endregion */

/* #region Project Cards */

.project-card {
  background: var(--color-background-100);
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  transition-property: background outline;
  transition-duration: 0.3s;
  transition-delay: -1s;
}

.project-card:hover {
  outline: 2px solid var(--color-primary);
  /* box-shadow: rgba(123, 123, 124, 0.3) 0px 2px 4px 0px, rgba(87, 96, 124, 0.15) 0px 4px 8px 4px; */
  box-shadow: inset 0 0 10px #a4c9db,
    /* inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff, */
      0 0 10px #fff;
  /* -10px 0 80px #f0f, 
    10px 0 80px #0ff */

  /* animation-iteration-count: 1; */
  /* animation: fadeBackgroundColor 2s; */
  background: var(--color-background-150);
  /* background: linear-gradient(132deg,var(--color-background-100) 0%, var(--color-background-200) 35%, var(--color-background-100) 100%); */
  transition-delay: 0s;
}

.card-header {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid #3b3c3f;
  height: 60px;
  padding: 16px 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
  padding: 16px 16px;
}

.card-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div.card-property > p:first-child {
  color: var(--color-primary-grey);
}

.card-initial {
  /* background-color: #ca8134; */
  padding: 12px;
  border-radius: 8px;
  aspect-ratio: 1;
  text-transform: uppercase;
}
/* #endregion */

/* #region Forms */

dialog {
  background-color: transparent;
  border: none;
  margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

form {
  width: 450px;
  border-radius: 16px;
  background-color: var(--color-background-100);
  color: white;
}

form h2 {
  padding: 20px;
  border-bottom: 2px solid var(--color-background-200);
}

form .input-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 12px;
}

form .form-buttons-container {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
  padding: 0 20px 20px 20px;
}

form .form-field-container {
  display: flex;
  flex-direction: column;
}
form .form-field-container-hor {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}
form .form-field-container-hor select,
form .form-field-container-hor input {
  width: 200px;
  text-align: right;
}

label {
  font-size: var(--font-base);
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(150, 150, 150, 1);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input,
textarea,
select {
  color: white;
  background-color: var(--color-background-200);
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: var(--text-base);
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-primary);
}

.input-tip {
  font-style: italic;
  color: var(--color-primary-grey);
  margin-top: 4px;
}

.error:focus {
  outline: 2px solid var(--color-primary-red);
}

.btn-secondary-cancel {
  background-color: transparent;
  outline: 2px solid #969696;
  width: 100px;
}

.btn-secondary-cancel:hover {
  background-color: var(--color-primary-red);
  outline: none;
}

.btn-secondary-accept {
  background-color: transparent;
  outline: 2px solid #969696;
  width: 100px;
}

.btn-secondary-accept:hover {
  background-color: var(--color-primary-green);
  outline: none;
}
/* #endregion */

/* #region Project Details page */

.dashboard-card {
  background-color: var(--color-background-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
}

#project-details > .main-page-content {
  display: grid;
  grid-template-columns: 425px 1fr;
  gap: 28px;
  height: 100%;
  padding: 20px 40px;
}

/* TODO ITEMS */

.todo-item {
  padding: 20px;
  background-color: var(--color-background-200);
  border-radius: 8px;
  cursor: pointer;
}

.todo-item:hover {
  /* background-color: var(--color-primary); */
  outline: 2px solid var(--color-primary);
}
/* #endregion */

/* #region USER CARD TYPE */

#user-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px 16px;
  margin-top: 16px;
}

.user-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--color-background-200);
  cursor: pointer;
}
.user-card:hover {
  outline: 2px solid var(--color-primary);
}

.user-card-header {
  display: flex;
  align-items: center;
}

.user-card-header img {
  border-radius: 32px;
  width: 64px;
  padding: 16px;
}

.user-card-details,
.user-card-header div {
  padding: 16px;
}

.user-card-active,
.user-card-inactive {
  padding: 4px;
  border-radius: 8px;
  width: 64px;
  text-align: center;
}

.user-card-active {
  background-color: var(--color-primary-green);
}
.user-card-inactive {
  background-color: var(--color-primary-red);
}
/* #endregion */

/* #region USER LIST TYPE */

#user-list li {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  column-gap: 20;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-background-100);
  margin-top: 16px;
  border-radius: 8px;
}

#user-list li:hover {
  outline: 2px solid var(--color-primary);
}

#user-list img {
  border-radius: 32px;
  width: 64px;
  padding: 16px;
}

.user-list-user,
.user-list-details {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.user-list-user {
  width: 400px;
}
.user-list-details div p:first-child {
  margin-bottom: 8px;
}

/* error alert box */
#error-modal > div {
  width: 450px;
  border-radius: 16px;
  border: 2px solid var(--color-primary-red);
  background-color: var(--color-background-100);
  color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}
/* #endregion */

/* #region Todo  */
.cancelled {
  background-color: var(--color-cancelled);
}

.active {
  background-color: var(--color-active);
}
.finished {
  background-color: var(--color-finished);
  /* text-decoration: line-through; */
}

/* #endregion */
